extends layout

block content
  section#mainAboutParagraph
    h1.custom What is Personify?
    p.custom
      | Personify is all about you
      br
      | This app will allow you to perform the following actions:
      br
      | For you to record your everyday life
      br
      | For you to set up reminders 
      br
      | For you to set up Wish Lists 
      br
      | For you to set up To-Do Lists
  section#icons
    .container
      .row
        .col-md-12
          ul.list-inline
            a(href="www.facebook.com", target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.facebook.fa-facebook-square.fa-3x(aria-hidden="true")
            a(href="www.linkedin.com", target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.linkedin.fa-linkedin.fa-3x(aria-hidden="true")
            a(href="www.instagram.com", target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.instagram.fa-instagram.fa-3x(aria-hidden="true")
            a(href="www.github.com" target="_blank", style="color: #CBCBCB")
              li.list-inline-item
                i.fa.github.fa-github-square.fa-3x(aria-hidden="true")
