extends layout

block content
  section#aboutDiary
    h1.custom Start Sharing!
    p.custom
      | The diary function of Personify will make sure you never forget your thoughts or the things you've done on a specific day ever again!
      br
      | Jot down your thoughts, opinions, or experiences on this particular day and it will be yours forever!
    section#diaryIcons
        i.fa.fa-pencil.fa-border.fa-5x(aria-hidden="true")
