body {
  background: url('/images/background.jpg') center center no-repeat;
  height: 100%;
  background-size: cover;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #d9d9d9;
    opacity: 0.5;
    background: transparent;
    border: thin solid;
    border-color: #d9d9d9;
}

.nav-pills {
  font-size: 50px;
}

.nav>li:hover,.nav>li:focus {
    background-color: #B8B8B8;
}

#aboutbtn li.nav-item{
  display: flex;
  position: absolute;
  right: 45.4%;
}

#logo img {
  margin: 0 auto !important;
  position:relative;
  padding-top: 80px;
}

#intro p {
  color: white;
  text-align: center;
  position: relative;
  font-family: "Amatic SC", cursive;
  font-size: 1.8em;
}

#mainAboutParagraph h1 {
  text-align: center;
  padding-top: 50px;
  font-size: 60pt;
}

#mainAboutParagraph p {
  font-size: 15pt;
  text-align: center;
  border: solid white thin;
}

.custom {
  color: #d9d9d9;
  font-family: "Amatic SC", cursive;
}

#icons {
  text-align: center;
  bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
}

#icons .facebook:hover {
  background: linear-gradient(blue, #1E35CD);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icons .linkedin:hover {
  background: linear-gradient(#7486FA, #4D60DE);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icons .instagram:hover {
  background: linear-gradient(red, yellow);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#icons .github:hover {
  background: linear-gradient(#AD61FA, #D9C5ED);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
